<!DOCTYPE html>
<html>
  <head>
    <title>Add a new message</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h3>Create form</h3>
    <form method="POST" action="/new">
      <label for="messageUser">Author:</label>
      <input type="text" id="messageUser" messageUser="name" />
      <label for="messageText">Message:</label>
      <input type="text" id="messageText" name="messageText" />
      <button type="submit">Add message</button>
    </form>
  </body>
</html>
