<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Messages:</h2>
    <ul>
      <% for(const message of messages ) { %>
      <li><%= message.text %> <strong><%= message.user %> </strong></li>
      <% } %>
    </ul>
  </body>
</html>
